.button {
  font-size: 1rem;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.25rem;
  padding: 0 2.625rem;
  min-width: 106px;
  border-radius: .5rem;
}

.button-small {
  height: 2.375rem;
  padding: 0 1.5rem;
}

.max-content {
  max-width: max-content;
}

.button-default {
  color: var(--main-white);
  background-color: var(--main-blue);
  border: 1px solid var(--main-blue);
}

.button-secondary {
  color: var(--main-black);
  background-color: var(--main-bg);
  border: 1px solid var(--button-secondary);
}
