@import "mixins";

.button {
  font-size: 1rem;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.25rem;
  padding: 0 2.625rem;
  min-width: 106px;
  border-radius: .5rem;
}

.button-small {
  height: 2.375rem;
  padding: 0 1.5rem;
}

.max-content {
  max-width: max-content;
}

.button-default {
  color: var(--main-white);
  background-color: var(--main-blue);
  border: 1px solid var(--main-blue);
}

.button-secondary {
  color: var(--main-black);
  background-color: var(--main-bg);
  border: 1px solid var(--button-secondary);
}

.button-dark {
  color: var(--main-white);
  background-color: #292E37;
  border: 1px solid #292E37;
}

.button-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  aspect-ratio: 1;
  background-color: var(--main-white);
  border: 1px solid var(--line-main-border);
  border-radius: 50%;

  svg {
    width: 12px;
    height: 12px;
    position: relative;
    object-fit: contain;

    use {
      font-size: 12px;
    }
  }
}

.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  border-radius: .5rem;

  svg {
    width: 22px;
    height: 22px;
    use {
      font-size: 22px;
    }
  }

  @include hover {
    color: var(--main-blue);
  }
}

.button-icon-light {
  color: var(--text-secondary);
  background-color: var(--main-white);
  border: 1px solid var(--line-main-border);
}

.button-icon-dark {
  color: var(--main-white);
  background-color: #292E37;
  border: 1px solid #292E37;
}

.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 0.75rem;

  .button-circle {
    color: var(--main-black);
  }

  .button-circle:first-child {
    transform: rotate(180deg);
  }
}

.button-link {
  font-size: inherit;
  color: var(--main-blue);
  font-weight: 600;
}
