.input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.25rem;

  label {
    font-size: 14px;
  }

  input[type='text'],
  input[type='email'],
  input[type='tel'],
  input[type='number'] {
    display: flex;
    align-items: center;
    font-size: 1rem;
    border: 1px solid var(--line-main-border);
    background-color: var(--other-input);
    height: 52px;
    padding: 0 1rem;
    border-radius: .5rem;

    &::placeholder {
      color: var(--text-secondary);
    }

    &:focus {
      outline: none;
      border-color: var(--main-blue);
    }
  }
}

.select {
  position: relative;

  .input {
    &:before {
      pointer-events: none;
      content: '';
      position: absolute;
      width: 22px;
      height: 22px;
      background-image: url("/src/img/select.svg");
      right: 1rem;
      bottom: calc(52px / 2);
      translate: 0 50%;
      transition: rotate .3s linear;
    }
  }

  &.dropdown-open {
    .input:before {
      rotate: -180deg
    }
  }
}
