@import "mixins";

.switch {
  max-width: max-content;
  background-color: var(--main-white);
  border-radius: .725rem;
  border: 1px solid var(--line-main-border);
  padding: 0.25rem;
  position: relative;

  &:before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    bottom: 0.25rem;
    width: 120px;
    border: 1px solid var(--main-black);
    border-radius: 7px;
    transition: left .3s ease;
  }

  .button[data-view="students"] {
    color: var(--main-black);
  }

  .button[data-view="parents"] {
    color: var(--text-secondary);
  }

  &[data-view="parents"] {
    &:before {
      left: calc(100% - 0.25rem - 122px);
    }

    .button[data-view="parents"] {
      color: var(--main-black);
    }

    .button[data-view="students"] {
      color: var(--text-secondary);
    }
  }

  .button {
    width: 120px;

    @include hover {
      color: var(--main-black) !important;
    }
  }
}
