.text {
  &.medium {
    font-weight: 500;
  }

  &.semi-bold {
    font-weight: 600;
  }

  &.secondary {
    color: var(--text-secondary);
  }

  &.blue {
    color: var(--main-blue);
  }

  &.small {
    font-size: 14px;
  }

  &.uppercase {
    text-transform: uppercase;
  }
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}
