@import "mixins";

.text {
  a {
    color: var(--main-blue);
    text-decoration: underline;

    @include hover {
      color: #415BA1;
    }
  }

  &.medium {
    font-weight: 500;
  }

  &.semi-bold {
    font-weight: 600;
  }

  &.bold {
    font-weight: 700;
  }

  &.secondary {
    color: var(--text-secondary);
  }

  &.blue {
    color: var(--main-blue);
  }

  &.small {
    font-size: 14px;
  }

  &.big {
    font-size: 18px;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.lines {
    white-space: nowrap;
    position: relative;
    display: inline-block;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 10px;
      translate: 0 100%;
      background-image: url("/src/img/lines.svg");
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}
