:root {
  --main-black: #13191F;
  --main-blue: #4E73D3;
  --main-bg: #EFF5F8;
  --main-white: #FFFFFF;
  --line-main-border: #DAE8EF;
  --other-input: #EFF3F5;
  --button-black: #292E37;
  --text-secondary: #7B8D9B;
  --button-secondary: #E6EEF2;
  --other-state-green: #2DBB55;

  --border-radius: 1rem;

  --font-120: 6.25vw;
  --font-100: 5.2vw;
  --font-80: 4.16vw;
  --font-60: 3.125vw;
  --font-50: 2.6vw;
  --font-40: 2.08vw;
  --font-30: 1.56vw;
  --font-24: 1.25vw;
  --font-20: 1.05vw;
  --font-18: 0.9375vw;
  --font-16: .8vw;
  --font-14: 0.73vw;
}
